# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
*.log

# System
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Environment variables
.env
.env.local
